@import url('https://fonts.googleapis.com/css?family=PT+Serif:400,700');

.input-story-t{
  font-size: 37px;
  height: 48px;
  font-weight: 600;
}

.input-story-p{
  font-family: 'PT Serif', serif;
  margin-top: 10px;
  outline: 0;
  font-size: 18px;
  line-height: 30px;
}

.input-story-p pre{
  background: rgba(0,0,0,.05);
  padding: 20px;
  font-size: 14px;
  line-height: 20px;
  overflow-y: scroll;
}

.input-story-p blockquote{
  padding-left: 10px;
  display: block;
  border-left: 3px solid #000;
}

.input-story-p a{
  text-decoration: underline;
}

#editorBox{
  position: absolute;
  background-color: #262625;
  padding: 6px;
  border-radius: 5px;
  top: -72px;
  left: -135px;
}

#editorBox .action-btns button {
  color: #fff;
  padding: 3px;
  font-size: 16px;
  margin: 2px;
}

#editorBox:after {
  -webkit-transform: rotate(45deg) translate(-50%,-50%);
  transform: rotate(45deg) translate(-50%,-50%);
  box-shadow: -1px -1px 1px -1px rgba(0,0,0,.54);
  content: '';
  display: block;
  position: absolute;
  bottom: -16px;
  left: 50%;
  width: 14px;
  height: 14px;
  background: #262625;
}

#editorBox>.input-e-l>input{
  color: #fff;
  min-width: 160px;
  background-color: #262625;
}
#editorBox>.input-e-l button{
  color: #fff;
  margin-top: -3px;
  font-size: 15px;
  margin-left: 5px;
}
