.p-about>article{
  margin: 20px 0;
}

.p-about>article h1, .p-about>h2{
  text-align: center;
  font-size: 43px;
}

.p-about>article p, .p-about>.c-quote{
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
}
