#readStory h1{
  font-size: 32px;
  font-weight: 600;
}

#readStory article{
  font-size: 17px;
}

#readStory .profile-img-wrap img, #readStory .profile-img-wrap .usr-p-image{
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: rgb(1, 143, 105);
  text-align: center;
}

#readStory .profile-img-wrap .usr-p-image span{
  line-height: 48px;
  color: #fff;
  font-weight: bold;
}

#readStory .usr-w span{
  display: block;
  color: rgba(0,0,0,.54)!important;
  font-size: 13px;
}
#readStory .usr-w{
  margin-left: 15px!important;
}

#readStory .usr-w a{
  line-height: 26px;
}
#readStory .usr-content{
  margin: 24px 0;
}

#readStory footer{
  border-top: 1px solid rgba(0,0,0,.05)!important;
  padding: 25px 0;
  margin: 25px 0;
}

#readStory footer .f-profile-img img, #readStory footer .f-profile-img .usr-p-image{
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background: rgb(1, 143, 105);
  text-align: center;
}

footer .f-profile-img .usr-p-image span{
  line-height: 58px;
  font-weight: bold;
  color: #fff;
}

#readStory footer .f-usr-content{
  margin-left: 15px!important;
}

#readStory footer .f-usr-content p{
  font-size: 13px;
}
