#noStoryError{
  color: #fff;
  border: none;
  background:#262625;
  padding: 10;
  font-size: 12px;
  position: absolute;
  width: 200px;
  right: 0;
  top: 41px;
}

#noStoryError:after {
  content: '';
  position: absolute;
  top: -10px;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #262625 transparent;
}

.p--row>div{
  margin-top: 20px;
}

.publish-modal-s p{
  color: rgba(0,0,0,.68);
  font-size: 13px;
}

.publish-modal-s h2{
  margin-bottom: 10px;
}

.p-modal-image-drop{
  background: #fafafa!important;
  height: 225px!important;
  color: rgba(0,0,0,.68);
  text-align: center;
  outline: 0;
  position: relative;
  margin: 20px 0;
  padding: 12px;
}
.border-p-color{
  border: 1px solid #03a87c;
}
.thumb-wrapper{
  position: relative;
  display: inline-block;
}
.thumb-del-btn{
  position: absolute;
  top: -7px;
  right: -8px;
  color: rgba(0, 0, 0, 0.54);
  background: #fff;
  border-radius: 50%;
  padding: 3px 8px;
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.15);
  box-shadow: 0 2px 10px rgba(0,0,0,.15);
}
.thumbnail-img{
  max-width: 400px;
  height: 200px;
}
.p-modal-image-drop span{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 260px;
  font-size: 12px;
  transform: translate(-50%, -50%);
}

.p-add-tags{
  background: #fafafa;
  border: 1px solid #ccc;
  outline:0;
  padding: 8px;
}
