/* .h-page .main-c{
  width: 100%;
  max-width: 680px;
} */

.h-page .main-c h4.p-t{
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
}

.h-page .h-s{
  padding-left: 30px;
  max-width: 300px;
}
.h-s .t-aside{
  margin-bottom: 40px;
}
.h-s .t-aside button{
  line-height:28px;
  margin: 20px 0;

}
.main-c .t-featured{
  margin-bottom: 30px;
}

.main-c .t-featured h1{
  font-size: 32px;
  line-height: 45px;
  margin-top: 13px;
}
.main-c .t-featured article p{
  color: rgba(0,0,0,.54)!important;
  margin-top: 6px;
}
.main-c .t-featured a.f-img{
  height: 382px;
  background-image: url(https://manjiltamang-threadly.s3.ap-south-1.amazonaws.com/1_TP80pFNtqKg5WoKnJjilvI99yZhUMdae.jpg);
  display: block;
  margin-top: 14px;
  background-position: 49% 39%;
  background-size: cover;
}

.main-c .c-item{
  margin: 30px 0;
}

.main-c .c-item h3{
  font-size: 18px;
  line-height: 20px;
}

.main-c .c-item article{
  font-size: 13px;
  padding-right: 15px;
}
.main-c .c-item article .d-summary{
  margin-top: 5px;
}

.main-c .c-item .c-info{
  margin-top: 10px;
}

.main-c .c-item .c-info>*{
  margin: 4px 0;
}

.main-c .c-item .h-s-img{
  background-size: cover!important;
  background-position: 50% 50%;
  flex: 0 0 152px;
}

.h-s .adv-t{
  font-size: 12px;
  margin-bottom: 15px;
  display: block;
}

.t-featured .u-ct .p-i-wrap{
  border: 2px solid #fff;
  border-top-color: #03a87c !important;
  border-bottom-color: #03a87c !important;
  border-radius: 50%;
  padding: 2px;
}

@media (max-width: 728px){
  .h-c-wrap{
    flex-direction: column-reverse;
  }
  .h-page .h-s {
    padding-left: 0;
  }
  .main-c .t-featured a.f-img{
    margin: 15px -15px;
    height: 320px;
  }
  .h-page .h-s .hs--ad{
    display: none;
  }
}

@media (max-width: 558px){
  .main-c .c-item h3 {
    font-size: 15px;
  }
  .main-c .c-item .d-summary{
    display: none;
  }
}
