.main-category-nav{
  margin: 30px 0;
}
.main-category-nav ul{
  white-space: nowrap;
  overflow: scroll;
}

.main-category-nav ul::-webkit-scrollbar {
  display: none;
}


.th-nav-main{
  color: rgba(0,0,0,.54);
}

.nav-cate-l li{
  text-transform: uppercase;
  color: rgba(0,0,0,.54);
  font-size: 13px;
}

.svgIcon {
  fill: rgba(0,0,0,.54);
}

.nav-top-bar {
  font-size: 13px;
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
}

.nav-top-bar>nav{
  height: 65px!important;
  display: -webkit-box!important;
  display: -webkit-flex!important;
  display: -ms-flexbox!important;
  display: flex!important;
  -webkit-box-align: center!important;
  -webkit-align-items: center!important;
  -ms-flex-align: center!important;
  align-items: center!important;
  border: none;
}


.user--img{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background: rgb(1, 143, 105);
  text-align: center;
}

.user--img span{
  color: #fff;
  font-weight: bold;
  line-height: 33px;
}

#ThLogo img{
  vertical-align: sub;
}

#ThLogo img.logo-x{
  display: none;
}

#ThLogo h2{
  display: inline-block;
  font-weight: 300;
  margin-left: 10px;
  padding-left: 10px;
  font-size: 18px;
  border-left: 2px solid #dadada;
}

.tb-flex1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.tb-flex0 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.popover-userIcon:hover{
  cursor: pointer;
}
.popover-userAction:before{
  -webkit-transform: rotate(45deg) translate(6px,6px);
  transform: rotate(45deg) translate(6px,6px);
  box-shadow: -1px -1px 1px -1px rgba(0,0,0,.54);
  content: '';
  display: block;
  width: 14px;
  position: absolute;
  z-index: 1000;
  height: 14px;
  background: #fff;
}
.popover-userAction{
  background: #fff;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.25), 0 0 1px rgba(0,0,0,.35);
  box-shadow: 0 1px 2px rgba(0,0,0,.25), 0 0 1px rgba(0,0,0,.35);
  width: 260px;
  position: absolute;

  z-index: 100;
  border-top-right-radius: 0;
}

.popover-userAction ul{
  list-style-type: none;
  padding: 10px 0;
}

.popover-userAction ul li{
  padding: 10px 20px;
  text-align: left;
}

.popover-userAction ul li a{
  width: 100%;
  display: block;
  padding: 0;
}

.popover-userAction.usr-drd{
  right: 6px;
  top: 46px;
}

.popover-userAction.usr-drd:before, .popover-userAction.usr-n:before{
  top: -15px;
  right: 3px;
}

.popover-userAction.usr-n{
  right: 2px;
  top: 36px;
}


@media screen and (max-width: 728px){
  .nav-top-bar>nav{
    height: 55px!important;
  }
  .popover-userAction.usr-drd:before{
    right: 24px;
  }
  .popover-userAction.usr-n:before{
    right: 79px;
  }
  .popover-userAction{
    width: 100%;
    top: 56px !important;
    position: fixed;
    height: auto;
    right: 0 !important;
  }
  #ThLogo img.logo-x{
    display: inline-block;
    vertical-align: middle;
    height: 36px;
  }
  #ThLogo img.logo-l{
    display: none;
  }
  #ThLogo h2{
    font-size: 14px;
    vertical-align: middle;
    margin-left: 10px;
    padding-left: 0;
    border:0;
  }
}
