.th-nav-main{
  color: rgba(0,0,0,.54);
}

.nav-cate-l li{
  text-transform: uppercase;
  color: rgba(0,0,0,.54);
}

.svgIcon {
  fill: rgba(0,0,0,.54);
}

.nav-top-bar {
  height: 65px!important;
  display: -webkit-box!important;
  display: -webkit-flex!important;
  display: -ms-flexbox!important;
  display: flex!important;
  -webkit-box-align: center!important;
  -webkit-align-items: center!important;
  -ms-flex-align: center!important;
  align-items: center!important;
  font-size: 13px;
}

.tb-flex1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.tb-flex0 {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.popover-userIcon:hover{
  cursor: pointer;
}
.popover-userAction:before{
  -webkit-transform: rotate(45deg) translate(6px,6px);
  transform: rotate(45deg) translate(6px,6px);
  box-shadow: -1px -1px 1px -1px rgba(0,0,0,.54);
  content: '';
  display: block;
  width: 14px;
  position: absolute;
  top: -14px;
  right: 1px;
  z-index: 1000;
  height: 14px;
  background: #fff;
}
.popover-userAction{
  background: #fff;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.25), 0 0 1px rgba(0,0,0,.35);
  box-shadow: 0 1px 2px rgba(0,0,0,.25), 0 0 1px rgba(0,0,0,.35);
  width: 260px;
  padding: 15px;
  position: absolute;
  right: 8px;
  top: 43px;
  height: 280px;
  z-index: 100;
}

.popover-userAction ul li a{
  width: 100%;
  display: block;
  padding: 7px 0;
}

.popover-p-wrap{
  position:relative;
}

.user--img{
  height: 35px;
  width: 35px;
  border-radius: 50%;
  background: rgb(1, 143, 105);
  text-align: center;
}

.user--img span{
  color: #fff;
  font-weight: bold;
  line-height: 33px;
}

.popover-userAction ul{
  list-style-type: none;
  padding: 0;
}

@media screen and (max-width: 768px){
  .popover-userAction:before{
    right: 24px;
  }
  .popover-userAction{
    width: 100%;
    top: 60px;
    position: fixed;
    height: auto;
    right: 0;
  }
}
